# Project binaries
movingclouds

# Web Assembly default build output
web/app.wasm

# Dependency directories
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Project specific
/*.log
